.buttonStyle
{
	background: #05401A;
	color: #4ACF79;
	font-size: 40pt;
	margin:0px;
	border: none;
	width:80px;
}
table td
{
	background: #05401A;
	border: 2px #4ACF79 solid;
}
#first
{
	margin:0px;
	background: #05401A;
	color: #4ACF79;
	font-size: 40pt;
	width:325px;
	border: none;
	text-align: right;
}
.right
{
	border-right: 0px;
}
.left
{
	border-left: 0px;
}
.top
{
	border-top: 0px;
}
.bottom
{
	border-bottom: 0px;
}